/*-------Universal Selector Using-------*/
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
/*-------Body-------*/
body{
    font-family: 'Open Sans',sans-serif;
    padding-top: 0px;
}
/*-------Common container-------*/
.container{
    max-width: 1200px;
    margin: auto;
}
/*--------Header---------*/
header{
    background: #fff;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
/*------Header Container--------*/
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
/*-------Header Logo===========*/
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
/*=========Navbar Section========*/
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
nav a{
    text-decoration: none;
    color: #555;
    font-size: 20px;
}
nav a:hover{
    color: #2952ff;
}
.navbar-button{
    background-color: #2952ff;
    color: white;
    font-size: 20px;
    padding: 14px 24px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
}
/*==========Navbar End=========*/


/*==========Hero Section=========*/
.hero{
    position: relative;
    height: 100vh;
    background: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.overlayout{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.20);
}
.hero-information{
    position: relative;
    color: white;
    text-align: center;
    width: 900px;
    margin-top: 150px;
}
.hero h1{
    font-family: "Inter",sans-serif;
    font-size: 65px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;
}
.hero h1 span{
    font-style: italic;
}
.hero p{
    width: 760px;
    margin: auto;
    font-size: 20px;
     line-height: 1.5;
     color: #ddd;
     margin-bottom: 400px;
}
.hero-button{
    background-color: #2952ff;
    color: white;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
    font-size: 30px;
}
.hero-button:hover{
    background: bisque;
    color: #111;
}
/*=============Hero Section End============*/

/*=============Meet The Speakers Section Start============*/
.meet-the-speaker{
    padding: 100px 0;
    background: #ffffff;
}
.title-name{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: #111;
    margin-bottom: 60px;
}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
}
.card{
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
    transition: .35s;
}
.card img{
     width: 100%;
    height: 360px;
    object-fit: cover;
    display: block;
}
.card:hover{
    box-shadow: 0 15px 35px rgba(0,0,0,.12);
}
.speaker-information{
    padding: 20px;
}
.speaker-information span{
       font-size: 15px;
    color: #2952ff;
    font-weight: 700;
    letter-spacing: 1px;
}
.speaker-information h3{
     margin-top: 5px;
    font-size: 20px;
    color: #111;
    font-weight: 700;
}
.speaker-information p{
      margin-top: 8px;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

/*=============Meet The Speakers Section End============*/

/*=========================Secure Your Spot Start=======================*/
.secure-your-spot{
    padding: 100px 0;
    background: #fff;
}
.pricing-title{
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: #111827;
}
.pricing-subtitle{
    text-align: center;
    color: #777;
    margin-top: 12px;
    margin-bottom: 60px;
    font-size: 16px;
}
.pricing-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.price-card{
    border: 1px solid#e6e6e6;
    border-radius: 12px;
    padding: 30px;
    background: #fff;
    transition: .3s;
}
.price-card:hover{
    box-shadow: 0 15px 35px rgba(0,0,0,.12);
}
.active{
    background: #0f1b2d;
    color: white;
}
.active hr{
   border-color:rgba(255,255,255,.15);    
}
.active .person {
    color: #cfd8e3;
}
.active li{
    color: #e5e7eb;
}
.plan{
    font-size: 14px;
    color: #b4b6b8;
    font-weight: 700;
    letter-spacing: 1px;
}
.price-card h2{
    margin-top: 10px;
    font-size: 52px;
    font-weight: 800px;
}
.person{
    color:#777;
    margin-bottom: 20px;
}
.price-card hr{
    border: none;
    border-top: 1px solid #ececec;
    margin: 20px 0;
}
.price-card ul{
    list-style: none;
}
.price-card ul li {
    margin-bottom: 14px;
    color: #555;
    font-size: 15px;
}
.price-card ul li ::before{
    content: ".";
    color: #ffffff;
    margin-right: 10px;
}
.price-button{
    display: block;
    margin-top: 30px;
    text-align: center;
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}
.standard-button{
    background: #fff;
    color: #2952ff;
    border: 1px solid #2952ff;
}
.standard-button:hover{
    background: #2952ff;
    color: white;
}
.pro-button{
    background: #1238d5;
    color:white;
    border: 1px solid #2952ff;
}
.pro-button:hover{
    background:white;
 color: #111;
}
.team-button{
    background:white;
    color: #111;
    border: 1px solid #111;
}
.team-button:hover{
    background: #111;
    color: white;
}
.outline{
    background: transparent;
    border: 1px solid #2952ff;
    color: #2952ff;
}
.outline:hover{
    background: #2952ff;
    color: white;
}

/*=========================Secure Your Spot End=======================*/